*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif,'Times New Roman', Times, serif;

}

body{
    background-color:#0f172a;
    color:white;
    overflow: hidden;
    overflow-y: scroll;
}