
#intro{
    height: calc(100vh - 4rem);
    width:100%;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

}

.profile{
    position: absolute;
    top:-4rem;
    right:0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;

    max-width: 100%;
}

.introsection{
    height: 100vh;
    width:100%;
    padding:2rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
     overflow-x: hidden;
     

    flex-wrap: wrap;
}

.hello{
    font-size: 1.75rem;
    font-weight: 100
}

.introname{
    color:yellow;
}

.intropara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btnlinks{
    padding: 1rem 0;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    
}

.alink{
    border: none;
    border-radius: 1rem;
    background-color:rgb(72, 68, 126);
    margin: 2rem 0.5rem;
    padding: 10px 10px 10xp 10px;
    
}

.alink:hover{
    border: 1px solid yellow;
}

.aimg{
    object-fit: cover;
    height: 2rem;
    width: 2.5rem;
    margin: 0rem 0rem 0rem 1rem;
}

.atext{
    color:white;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0rem 0.9rem 0rem 0.9rem ;
}

.introrole{
    font-size: 1.5rem;
    font-weight: 400;
    overflow: hidden;
}


.introrole::after {
      content: "Web Developer";
      animation: role 20s infinite; /* 7 days × 5s each */
    }

    @keyframes role {
      0%   { content: "Web Developer"; }
      20% { content: "Frontend Developer"; }
      40% { content: "Full Stack Developer"; }
      60% { content: "Backend Developer"; }
      80% { content: "React Developer"; }
      100% { content: "Web Developer"; } /* loop back */
    }





 @media screen and (max-width:460px){

    .profile{
        right:-10vw
    }
    .introname{
        font-size: 10vw;
    }
    .intropara{
        font-size: 3vw;

    }
    .hello{
        font-size: 4.5vw;
    }
    .atext{
        display: none;
    }
    .alink{
        /* display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem; */
        padding: 0.2rem 0.5rem 0rem 0rem;
        
    }
} 



